/*  body{*/
/*     text-decoration:none;*/
/*     background-color:white; */
/*  }*/
  
/*  .nodecor{*/
/*    text-decoration:none;*/
/*    margin:0 auto;*/
/*    width:960px;*/
/*  }*/
  
/*  .jasminezhang{*/
/*    color: black;*/
/*  	font-family: "Courier New", monospace;*/
/*  	font-size: 10px;*/
/*    text-decoration:none;*/
/*  }*/
  	
  	
/*  .hover-urvita{*/
/*    width:80px;*/
/*    height:20px;*/
  
/*    margin-bottom:15px;*/
    
/*  }*/
/*  .urvita{*/
   
/*    font-family: helvetica, sans-serif;*/
/*    font-size:18px;*/
/*    font-weight: medium;*/
/*    text-emphasis:bold;*/
/*  }*/
  
/*  .hover:hover + .hover-urvita{*/
/*    opacity: 1.0;*/
/*  }*/
  
  
  
/*  .urvi{*/
    
/*  }*/
  
/*  .simen{*/
  
/*  }*/
  
/*  .sarapena{*/
/*    font-size:48px;*/
/*    font-family:Helvetica,Arial,sans-serif;*/
/*    color:black;*/
/*  }*/
  
/*  .eva{*/
/*    font-family: 'Rock Salt';*/
/*    font-style: normal;*/
/*    font-weight:400;*/
/*    font-size:30px;*/

/*  src: local('Rock Salt'), local('RockSalt'), url(http://fonts.gstatic.com/s/rocksalt/v6/Q94aHXFHGip10K5uxi1jOJBw1xU1rKptJj_0jans920.woff2) format('woff2');*/
/*  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;*/
/*}*/
  
  
/*   .lika{*/
/*  text-align: center;*/
/*  height: 35px;*/
/*  margin: 5px;*/
/*  padding: 10px;*/
/*  width: 225px;*/
/*  border: 2px dotted #FFFFFF;*/
/*  }*/

/*  .jasminehong{*/
/*    font-size:10px;*/
/*    position:absolute;*/
/*    margin: 500px;*/
/*  }*/
  
  
  
  
  
  
  
  
  
  
  
  
  
  

/*a:link {*/
/*    margin-left: 60%;*/
/*    font-size:10px;*/
/*    text-decoration: none;*/
/*    color:black;*/
/*}*/

/* mouse over link */
/*a:hover {*/
/*    color: yellow;*/
/*    text-decoration: none;*/
/*}*/

/* selected link */
/*a:active {*/
/*    color: yellow;*/
/*    text-decoration: none;*/
/*  }*/
  
  
/* .jasminehong{*/
/*  position:absolute;*/
/*  margin-left:;*/
/* }*/
 
 
 
 
 .jasminehong-info{
   opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
 }
 
 .jasminehong{
   position:absolute;
   margin:80px;
 }