.space {
    background-color:white;
    text-decoration:none;
    color:grey;
    font-size:13px;
    font-family:helvetica;
    font-weight:medium;
    margin-left:50px;
    margin-top:60px;
}

p, h1 {
    color:grey;
    font-size:13px;
    font-family:helvetica;
  
    margin-left:50px;
    margin-top:60px;
}
    



a { 
color:grey;
font-size:13px;
font-family:helvetica;
text-decoration:none;
margin-left:50px;
margin-top:60px;
line-height:2;
}