     .c1{
    /*width: 14px;*/
    width:90%;
    height:1%;
    /*padding-bottom: 10px;*/
    padding-bottom: 60%;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    position:relative;
    margin:0px 0px 0px 0px;
    z-index:-2px;
   
    }
    
    
    
  .horizontal{
      position:relative;
      width:17px;
      height:60px;
      float:left;
      display:inline-block;
    }
    
  .white{
      background:white;
      /*border: 2px solid white;*/
    }
    
  .yellow{
      background: #F7F719;
      /*border: 2px solid yellow;*/
    }
    
  .red{
      background:red;
      /*border:none;*/
    }
  
  .horizontal{
  top:40px;
  margin-left:-10px;
}


body{
      background-color:red;
      }
      
.third, .two{ 
  float:left;
  height:300px;
  width:600px;
  position:relative;
  display:inline-block;
}

.two{ 
  margin-left:50px;
}

.third{
  margin-left:80px;
  width:100px;
}

.one{
  margin-left:100px;
}

.full{
 
  margin-top:200px;
}