body{
    background-color:red;
}

.letter-wrapper{
    position:relative;
}


.nh1 {
    width:190px;
    height:18px;
    background: transparent url("mieshort.png") round 0 0;
    z-index:1px;
}

/*.nh2{*/
/*    width:190px;*/
/*    height:20px;*/
/*    background: transparent url("mieshort.png") round 0 0;*/
/*    z-index:5px;*/
/*    top:-5.3px;*/
/*    position:relative;*/
/*}*/


/*.nh3{*/
/*    width:190px;*/
/*    height:20px;*/
/*    background: transparent url("mieshort.png") round 0 0;*/
/*    top:-10px;*/
/*    position:relative;*/
/*}*/

/*.nh4{*/
/*    width:190px;*/
/*    height:20px;*/
/*    background: transparent url("mieshort.png") round 0 0;*/
/*    z-index:5px;*/
/*    top:-15px;*/
/*    position:relative;*/
/*}*/

/*.nv1{*/
/*    margin-left:80px;*/
/*    width:18px;*/
/*    height:300px;*/
/*    background: transparent url("mieshortleft.png") round 0 0;*/
/*    z-index:5px;*/
/*    display:inline-block;*/
/*    clear:both;*/
    
/*}*/

/*.nv2{*/
/*    width:18px;*/
/*    height:300px;*/
/*    background: transparent url("mieshortleft.png") round 0 0;*/
/*    z-index:5px;*/
/*    margin-left:-9px;*/
/*    display:inline-block;*/
/*}*/

/*.nv3{*/
/*    width:18px;*/
/*    height:300px;*/
/*    background: transparent url("mieshortleft.png") round 0 0;*/
/*    z-index:5px;*/
/*    margin-left:-9px;*/
/*    display:inline-block;*/
/*}*/


/*div {*/
/*  display: block;*/
/*}*/
