.mom_final{
    margin-top:560px;
    margin-left:800px;
    position:relative;
    float:left;
}

.all{
    float:left;
    position:absolute;
    top:-30px;
    width:1700px;
    clear:both;
}
.end_statement{
    position:absolute;
    float:left;
    left:500px;
    top:400px;
    
    font-family:arial;
    
    color:black;
    /*font-weight:bold;*/
    font-size:20px;
    text-decoration:none;
}

