
 	style type="text/css"
		body {
				font-family: Helvetica, Helvetica, sans-serif;
				font-size: 50px;
				color: #111111;
			background-color:white;
		}
				
			div {
			     background-color: #e7642c;
     			color:white;
				width: 200px;
				height:230px;
				margin: 15px;
				padding:30px;
				
			  }
				
			h2{
			     font-family:helvetica;
			     font-size:40px;
			     text-align: center;
			}
			
			h6{ font-family:helvetica;
			     font-size:10px;
				
			}
			     
			p {
				font-family:helvetica
				width: 200px;
				font-size: 20px;
				line-height: 1em;
			     text-align: center;
			}
		</style>