  
  body{
      background-color:red;
      }
      
      
  .circle {
    width: 3%;
    height:0;
    padding-bottom: 3%;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    background: yellow; 
    }
  
    
    

 